<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://cdn.auth0.com/styleguide/1.0.0/img/badge.svg">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
    <meta name="theme-color" content="#1f2937">
    <meta name="color-scheme" content="dark-light">
    <meta name="msapplication-TileColor" content="#1f2937">
    <title>Top Stories | Python Server</title>
    <link rel="apple-touch-icon" href="https://cdn.auth0.com/styleguide/1.0.0/img/badge.svg">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-900">
    <nav class="bg-gray-800 p-4 sticky top-0 z-50">
        <div class="max-w-7xl mx-auto flex justify-between items-center px-4">
            <a href="/" class="text-white text-2xl font-bold">
                <img src="https://cdn.auth0.com/styleguide/1.0.0/img/badge.svg" alt="Company Logo" class="w-8 h-8 inline-block mr-2">
                Python Server
            </a>
            <div class="space-x-4">
                <a href="{{ url_for('routes.home') }}" class="text-gray-300 hover:text-white hover:underline hover:underline-offset-4">Home</a>

                <a href="/about" class="text-gray-300 hover:text-white hover:underline hover:underline-offset-4">About</a>
            
                {% if not session %}
                    <a href="{{ url_for('routes.signin') }}" class="text-gray-300 hover:text-white hover:underline hover:underline-offset-4">Sign in</a>
                    <a href="{{ url_for('routes.signup') }}" class="text-gray-300 hover:text-white hover:underline hover:underline-offset-4">Sign Up</a>
                {% endif %}
            
                {% if session %}
                    <a href="{{ url_for('routes.get_profile') }}" class="text-gray-300 hover:text-white hover:underline hover:underline-offset-4">Profile</a>
                    {% if user_role == 'admin' %}
                        <a href="{{ url_for('routes.admin_news_items') }}" class="text-gray-300 hover:text-white hover:underline hover:underline-offset-4">Admin</a>
                    {% endif %}
                {% endif %}
            </div>                
            <div class="flex items-center">
                <span class="ml-2 text-gray-300 hover:text-white">
                    Welcome,
                    {% if session %}
                        {{ session.nickname }}
                    {% else %}
                        Guest
                    {% endif %}
                </span>  
                {% if session %}
                    <a href="{{ url_for('routes.get_profile') }}" class="text-gray-300 hover:text-white flex items-center">
                        <img src="{{ session.picture }}" alt="User Profile Image" class="w-12 h-12 rounded-full ml-2">
                    </a>
                {% else %}
                    <img src="https://ui-avatars.com/api/?name=G" alt="User Profile Image" class="w-12 h-12 rounded-full ml-2">
                {% endif %}
            </div>                
        </div>
    </nav>

    <div class="flex justify-center items-center mt-8">
        <p class="text-white text-xl font-bold">Top Stories | News Feed</p>
    </div>

    <div class="max-w-7xl mx-auto mt-8 mb-4 px-4">
        {% for post in posts.items %} 
            <div class="p-4 {{ 'bg-green-100' if session and has_user_liked_post(session.email, post.id) else 'bg-red-100' if session and has_user_disliked_post(session.email, post.id) else 'bg-white' }} rounded shadow-md mt-4">
                <a href="{{ post.url }}" target="_blank" class="block hover:text-blue-500 focus:outline-none focus:ring focus:border-blue-300"> 
                    <h2 class="text-2xl font-bold">{{ post.title }}</h2>
                </a>
                <p class="mt-2 text-sm text-gray-600">By {{ post.by }} | Score: {{ post.score }}</p>
                <p class="mt-2">{{ post.description }}</p>
                <p class="mt-2 text-sm text-gray-500">Type: {{ post.type }}</p>
                <p class="mt-2 text-sm text-gray-500">Published on {{ post.timestamp }} UTC</p>

                {% if session %}
                    <div class="flex mt-4">
                        <form method="post" action="{{ url_for('routes.like_post', post_id=post.id) }}">
                            <button type="submit" class="mr-2 px-3 py-1 bg-green-500 text-white rounded">
                                Like <span class="font-bold">{{ post.likes }}</span>
                            </button>
                        </form>
                        <form method="post" action="{{ url_for('routes.dislike_post', post_id=post.id) }}">
                            <button type="submit" class="px-3 py-1 bg-red-500 text-white rounded">
                                Dislike <span class="font-bold">{{ post.dislikes }}</span>
                            </button>
                        </form>
                    </div>
                {% endif %}
                
            </div>
        {% endfor %}
    </div>        
    
    <div class="flex flex-row justify-center items-center mb-10 mt-4">
        <span class="mx-2 text-md font-normal text-gray-100">Page {{ posts.page }} of {{ posts.pages }}</span>

        {% if posts.has_prev %}
           <a href="{{ url_for('routes.home', page=posts.prev_num) }}" class="px-3 py-1 bg-blue-500 text-white rounded">Previous</a>
        {% endif %}
        
        {% if posts.has_next %}
           <a href="{{ url_for('routes.home', page=posts.next_num) }}" class="ml-2 px-3 py-1 bg-blue-500 text-white rounded">Next</a>
        {% endif %}
    </div>
</body>
</html>
