<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="https://cdn.auth0.com/styleguide/1.0.0/img/badge.svg">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <meta name="theme-color" content="#1f2937">
    <meta name="color-scheme" content="dark-light">
    <meta name="msapplication-TileColor" content="#1f2937">
    <title>Sign Up | Python Server</title>
    <link rel="apple-touch-icon" href="https://cdn.auth0.com/styleguide/1.0.0/img/badge.svg">
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-900">
    <nav class="bg-gray-800 p-4 sticky top-0 z-50">
        <div class="max-w-7xl mx-auto flex justify-between items-center px-4">
            <a href="/" class="text-white text-2xl font-bold">
                <img src="https://cdn.auth0.com/styleguide/1.0.0/img/badge.svg" alt="Company Logo" class="w-8 h-8 inline-block mr-2">
                Python Server
            </a>
            <div class="space-x-4">
                <a href="{{ url_for('routes.home') }}" class="text-gray-300 hover:text-white hover:underline hover:underline-offset-4">Home</a>

                <a href="/about" class="text-gray-300 hover:text-white hover:underline hover:underline-offset-4">About</a>
            
                {% if not session %}
                    <a href="{{ url_for('routes.signin') }}" class="text-gray-300 hover:text-white hover:underline hover:underline-offset-4">Sign in</a>
                    <a href="{{ url_for('routes.signup') }}" class="text-gray-300 hover:text-white hover:underline hover:underline-offset-4">Sign Up</a>
                {% endif %}
            
                {% if session %}
                    <a href="{{ url_for('routes.get_profile') }}" class="text-gray-300 hover:text-white hover:underline hover:underline-offset-4">Profile</a>
                    {% if user_role == 'admin' %}
                        <a href="{{ url_for('routes.admin_news_items') }}" class="text-gray-300 hover:text-white hover:underline hover:underline-offset-4">Admin</a>
                    {% endif %}
                {% endif %}
            </div>                
            <div class="flex items-center">
                <span class="ml-2 text-gray-300 hover:text-white">
                    Welcome,
                    {% if session %}
                        {{ session.nickname }}
                    {% else %}
                        Guest
                    {% endif %}
                </span>  
                {% if session %}
                    <a href="{{ url_for('routes.get_profile') }}" class="text-gray-300 hover:text-white flex items-center">
                        <img src="{{ session.picture }}" alt="User Profile Image" class="w-12 h-12 rounded-full ml-2">
                    </a>
                {% else %}
                    <img src="https://ui-avatars.com/api/?name=G" alt="User Profile Image" class="w-12 h-12 rounded-full ml-2">
                {% endif %}
            </div>                
        </div>
    </nav>
    <div class="h-screen flex flex-col justify-center items-center">
        <div class="w-full max-w-xs">
            <div class="flex flex-col gap-5 items-center justify-between">
                <img class="w-20" src="https://cdn.auth0.com/styleguide/1.0.0/img/badge.svg" alt="Auth0 Logo">
                <a 
                    href="/authorize?screen_hint=signup" 
                    class="text-center w-full bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" 
                >
                    Sign Up with Auth0
                </a>
            </div>
            <div class="flex flex-col justify-end items-end mt-2">
                <p class="text-white text-sm">Already have an account? 
                    <a 
                        href="/signin" 
                        class="text-blue-500 hover:text-blue-700"
                    >
                        Sign in
                    </a>
                </p>
            </div>
        </div>
    </div>
</body>
</html>
